custom/zsh

*un~
vim/backups
vim/view
vim/.netrwhist
vim/tmp
vim/.vimplugs.local
vim/.vimplugs.local.bak
vim/bundle
vim/sessions
vim/undo-history
tmux/plugins
tmux/resurrect
mutt/passwords.gpg
screenshots
wallpapers/old
bin/subl
.netrwhist
.idea
tags
